.offset::before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

nav.navbar {
  background-color: rgba(95, 95, 95, 0.7) !important;
}
nav.navbar a.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
nav.navbar a.navbar-brand span {
  border: 2px solid #1ebba3;
  padding: 0 5px 1px 5px;
  background-color: transparent;
  border-radius: 3px;
  color: #1ebba3;
}
nav.navbar #navbarResponsive ul a.nav-link {
  font-size: 14px;
  color: white;
  font-weight: 500;
}
nav.navbar #navbarResponsive ul a.nav-link.active, nav.navbar #navbarResponsive ul a.nav-link:hover {
  color: #1ebba3;
}

#home .landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}
#home .landing .home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#home .landing .home-wrap .home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url(/img/cover.jpg);
  filter: contrast(60%);
}
#home .caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
#home .caption h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}
#home .caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
#home .caption .btn-light {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem 1.3rem;
  border: 0.3rem solid white;
  background-color: transparent;
  color: white;
  text-decoration: none;
  letter-spacing: 0.1rem;
}
#home .caption .btn-light:hover {
  color: #888888;
  background-color: white;
}

#register h1 {
  color: #1ebba3;
  letter-spacing: 5px;
}
#register p {
  margin-top: 1em;
  font-size: 1.1em;
}
#register .btn-primary-color {
  border: 1px solid #1ebba3;
  background-color: #1ebba3;
  color: white;
  padding: 0.3em 1em;
  opacity: 0.8;
}
#register .btn-primary-color:hover {
  opacity: 1;
}

#features h1 {
  color: #1ebba3;
  letter-spacing: 5px;
}
#features p {
  margin-top: 1em;
  font-size: 1.1em;
}
#features ul {
  margin: 0;
  padding: 0;
}
#features ul a {
  font-size: 1em;
  font-weight: 200;
  text-decoration: none;
  color: black;
}
#features ul a li {
  list-style: none;
  padding: 0 2px;
}
#features ul a li:hover {
  background-color: #1ebba3;
  color: white;
}

#clients h1 {
  color: #1ebba3;
  letter-spacing: 5px;
}
#clients p {
  margin-top: 1em;
  font-size: 1.1em;
}

#package {
  padding: 2rem;
}
#package h1 {
  color: #1ebba3;
  letter-spacing: 5px;
}
#package p {
  margin-top: 1em;
  font-size: 1.1em;
}

#contact a.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
#contact a.navbar-brand span {
  border: 2px solid #1ebba3;
  padding: 0 5px 1px 5px;
  background-color: transparent;
  border-radius: 3px;
  color: #1ebba3;
}

/*# sourceMappingURL=main.css.map */
